body {
	margin: 10px 10px;
}

#graph {
	width: 90%;
	height: 90%;
}

#divThermometer {
	position: absolute;
	z-indez:99;
	top: 100px;
	left: 150px;
	width:180px;
	height:400px;
	padding-left: 15px;
	border: 1px solid black;
	background-color: #fff;
	border-radius: 15px; 
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
